
@media screen (min-width:480px){
    container{
        max-width:428px;
    }
/*@media screen (min-width:480px){
 .team-section{
    width:264px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
 }
 }

 /*.mobile-menu{
    display:flex;
    position: fixed;
    width: 100px;
    height:100px;
    top: 0;
    left: 0;
    z-index:1000px;
    max-width: 480px;
 }

 .mobile-menu-container{
    display:flex;
    position:relative;
    padding:32px;
    flex-direction:column;
    padding-top:80px;
    padding-bottom:40px;
    padding-left:40px;
    padding-right:60px;

 }
.container-list-contacts{
    margin-top:auto;
}

.contacts-mobile-list{
    display:flex;
    gap:40px;
}
socials-list-mobile{
    display:flex;
    margin-top:48px;
    justify-content:space-between;

.social-list{
    display: flex; 
    flex-wrap: wrap; 
    column-gap: 16px; 
    row-gap: 72px; 
}

.social-list-item{
    flex-basis: calc((100% - 16px)/2);
}

(() => {
  const mobileMenu = document.querySelector('.js-menu-container');
  const openMenuBtn = document.querySelector('.js-open-menu');
  const closeMenuBtn = document.querySelector('.js-close-menu');

  const toggleMenu = () => {
    const isMenuOpen =
      openMenuBtn.getAttribute('aria-expanded') === 'true' || false;
    openMenuBtn.setAttribute('aria-expanded', !isMenuOpen);
    mobileMenu.classList.toggle('is-open');

    const scrollLockMethod = !isMenuOpen
      ? 'disableBodyScroll'
      : 'enableBodyScroll';
    bodyScrollLock[scrollLockMethod](document.body);
  };

  openMenuBtn.addEventListener('click', toggleMenu);
  closeMenuBtn.addEventListener('click', toggleMenu);

  // Close the mobile menu on wider screens if the device orientation changes
  window.matchMedia('(min-width: 768px)').addEventListener('change', e => {
    if (!e.matches) return;
    mobileMenu.classList.remove('is-open');
    openMenuBtn.setAttribute('aria-expanded', false);
    bodyScrollLock.enableBodyScroll(document.body);
  });
})();

.item-box{
    display:none;
}